@model shopping_tutorial.Models.LoginViewModels.LoginViewModel
@{
	ViewData["Title"] = "Register";
}
<section id="form-login">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-1">
				<div class="login-form">
					<!--login form-->
					<h2>Login to your account</h2>
					<form asp-action="Login" asp-controller="Account" method="post">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input asp-for="Name" class="form-control" placeholder="User Name" />
						<span asp-validation-for="Name" class="text-danger"></span>				
						<input asp-for="Password" class="form-control" placeholder="Password" />
						<span asp-validation-for="Password" class="text-danger"></span>
						<span>
							<input type="checkbox" class="checkbox">
							Keep me signed in
						</span>
						<button class="btn btn-default">Login</button>

					</form>
				</div><!--/login form-->
			</div>
		</div>
	</div>
	<li><a asp-action="Create" asp-controller="Account"><i class="fa fa-lock"></i> Regiter</a></li>
</section><!--/form-->